<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

	<title>{{title}} Gallery</title>

	<link rel="stylesheet" href="/plonk/assets/css/justifiedGallery.min.css">
	<link rel="stylesheet" href="/plonk/assets/css/swipebox.min.css">
	<link rel="stylesheet" href="/plonk/assets/css/plonk.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Tinos:400,700" rel="stylesheet">
</head>

<body>

	<header style="background-image:url('{{background_img}}');">
		<h1>{{title}}</h1>
		<h3>{{description}}</h3>
	</header>

	{{#to_process}}
	<section id="process" class="process" data-filename="{{process_filename}}" data-total="{{process_total}}" data-current="{{process_current}}">
		<div class="progress_bar" id="progress_bar"></div>
		<div class="process_msg" id="process_msg">
			Processing <span id="process_filename">{{process_filename_no_path}}</span> (<span id="process_current">{{process_current}}</span> of <span id="process_total">{{process_total}}</span>)
		</div>
	</section>
	{{/to_process}}

	{{^to_process}}
	<main id="gallery" class="gallery" data-next="0" data-folder="{{folder}}"></main>
	{{/to_process}}

	<footer><a href="https://github.com/gcsalzburg/plonk">Plonk Gallery</a> © George Cave</footer> 

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="/plonk/assets/js/jquery.justifiedGallery.min.js"></script>
	<script src="/plonk/assets/js/jquery.swipebox.min.js"></script>
	<script src="/plonk/assets/js/plonk.js"></script>
	
</body>
</html>