html{
     margin:0;
}

body{
    font-family: 'Tinos', serif;
    margin:0;
}

header{
    width: 100%;
    display: block;
    padding: 10em 0;
    position: relative;
    background-size: cover;
    background-position: center center;
}
header:before{
    content: "";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:10;
    background:rgba(0,0,0,0.5);
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 4em;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    font-weight: 400;
    position: relative;
    z-index: 20;
}
h3{
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    position: relative;
    z-index: 30;
}

.gallery{
    max-width:80%;
    margin:0 auto;
}